/* app/globals.css */

/* Define cor de fundo, fonte e estilo base */
html,
body {
  margin: 0;
  padding: 0;
  /* min-height: 100%; */
  background-color: #000000;
  font-family: "Roboto", sans-serif;
}

/* Remove underline de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Centraliza o conteúdo do Container */
/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #0c64bd;
} */

/* Exemplo: estilizar header */
header {
  background-color: #a50f0f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Responsividade geral */
@media (max-width: 600px) {
  body {
    background-color: #2fbd0c; /* muda um pouco a cor no mobile */
  }
}
